<%& '/header/' %>

<h1>${APPLICATION}</h1>

<p>
	Your Prudence application skeleton has been successfully created! Time to start building your application...
</p>
<p>
	This sample home page contains examples of a few Prudence features.
</p>
<p>
	First, a scriptlet. It is currently:
<%
document.executeOnce('/sincerity/localization/')
print(Sincerity.Localization.formatDateTime(new Date(), 'hh:mm:ss a'))
%>
</p>
<p>
	Next, two examples of URI/resource separation:
</p>
<p>
	Click <a href="sample1/">here</a> to see the sample dispatched manual resource.
</p>
<p>
	Click <a href="sample2/">here</a> to see the sample captured scriptlet resource.
</p>

<%& '/footer/' %>