<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<%
var version = application.sharedGlobals.get('com.threecrickets.prudence.version')
%>
<html>
<head>
	<title>Prudence - Three Crickets</title>
	<link rel="stylesheet" type="text/css" href="<%= conversation.base %>/style/three-crickets/dark-cricket/dark-cricket.min.css" />
	<link rel="shortcut icon" href="http://threecrickets.com/media/three-crickets/prudence.ico" />
	<link href="http://fonts.googleapis.com/css?family=Ubuntu|Ubuntu:italic|Ubuntu:bold|Ubuntu:bolditalic" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="<%= conversation.base %>/scripts/jquery/jquery.core.min.js"></script>
	<script type="text/javascript" src="<%= conversation.base %>/scripts/jquery/jquery.json.min.js"></script>
</head>
<body>

<div style="float: left; margin-bottom: 12px;">
	<a href="<%= conversation.base %>">
		<h2 style="margin-top: 12px;">Prudence Examples<br /><span style="font-size: 13px;">Version <%= version %></span></h2>
	</a>

	<div class="navigation">
		<ul>
			<li><a href="<%= conversation.base %>">About</a></li>
			<li><a href="<%= conversation.base %>/manual/">Manual Resources</a></li>
			<li><a href="<%= conversation.base %>/dispatched/">Dispatched Manual Resources</a></li>
			<li><a href="<%= conversation.base %>/templates/">Template Resources</a></li>
			<li><a href="<%= conversation.base %>/external/">External Resources</a></li>
			<li><a href="<%= conversation.base %>/forms/">Forms with File Uploads</a></li>
			<li><a href="<%= conversation.base %>/filters/">Filters</a></li>
			<li><a href="<%= conversation.base %>/errors/">Error Handling</a></li>
			<li><a href="<%= conversation.base %>/tasks/" class="closed">Background Tasks</a></li>
		</ul>
	</div>
</div>
<div id="main"><div id="main-content">
	<img style="float: right; padding: 6px 6px 6px 6px;" src="<%= conversation.base %>/media/three-crickets/prudence-small.png" alt="Prudence logo: bullfinch in flight" />
